<div class="modal">
    <div class="modal-title">
        <h3>Create New List</h3>
    </div>
    <hr>

    <div class="modal-body">
        <form action="/createlist" method="post">
            <input type="text" name="listName" placeholder="New list name" autocomplete="off">
            <hr>
            <button class="submit" type="submit">Create</button>
            <button type="button" id='close-modal'>Close</button>
        </form>
    </div>
</div>