<div class="sidebar" id="sidebar">
    <ol>
        <li><i class="fas fa-times closeBtnSide"></i></li>
        <li><a href="/">Home</a></li>
        <li><a target="_blank" href="https://github.com/akshaymemail/todo-app">View on GitHub</a></li>
        <li><a target="_blank" href="https://akshaymemail.github.io/mycv">Contact Me</a></li>
        </li>
        <div class="center-icon">
            <a target="_blank" href="https://facebook.com/aksc.me"><i class="fab fa-facebook"></i></a>
            <a target="_blank" href="https://www.instagram.com/akshaymemail"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://github.com/akshaymemail"><i class="fab fa-github"></i></a>
        </div>
    </ol>
</div>