<%- include('header')  %> 

<div class="box" id="heading">
    <h1>About Us!</h1>
</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, provident deleniti facilis necessitatibus enim dolores culpa nemo harum voluptatibus quam saepe sint suscipit quibusdam odit cum amet dignissimos architecto magnam. Odio veritatis eum asperiores inventore molestiae vitae quasi, necessitatibus illo temporibus fuga consequatur adipisci quis, ea incidunt quidem deserunt assumenda.</p>

<%- include('footer') %> 